<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap" rel="stylesheet">
    </head>
<style>
    #login-form-container {
        width: 500px;
    }
    .card-content {
        width: 1000px;
    }
.media {
    font-family: 'Mochiy Pop P One', sans-serif;
    padding-left: 530px;
    padding-top: 300px;
   
}
</style>
<body>
    <div id="login-form-container">
        <div class="card" style="width: 400px">
            <div class="card-content">
                <div class="media">
                    <div class="is-size-4 has-text-centered">
                       This is the Prediction... {{predictions}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>